{% extends 'base.html' %}

{% block title %}Positions Select Import Files{% endblock %}

{% block body %}
<div id="index" style="height: 500px;"></div>

<script type="text/javascript" charset="utf-8">
var select_csv_file_tree = {
    id: 'select_csv_file_tree',
    view:"tree",
    activeTitle:true,
    autoheight: true,
    select:true,
    width: 400,
    data: [
        {
            id: -1,
            value: "Positions",
            open: true,
            data: {{ files|safe }}
        }
    ]
};

var csv_file_import_button = {
    view:"button",
    value:"Import",
    container:"csv_file_import_button",
    width: 100,
    on:{
        "onItemClick": function() {
            var file_date = $$('select_csv_file_tree').getSelectedId();
            if (file_date != '-1' && file_date) {
                var redirect_link = "{% url 'pos_import_app_complete' %}" + file_date + "/";
                var return_link = "{% url 'pos_import_app_index' %}";

                webix.ajax(redirect_link, function(text){
                    webix.alert(
                        {
                            title: "Import Completed",
                            text: text,
                            width: "500px",
                            callback: function(){
                                webix.send(return_link, null, "GET");
                            }
                        }
                    );
                });
            }
            else {
                webix.message({
                    type: "error",
                    text: "Please select file to import!"
                });
            }
        }
    }
};

webix.ui({
    container: 'index',
    rows: [
        { type: 'header', template:"Import Files", autoheight: true},
        select_csv_file_tree,
        csv_file_import_button
    ]
});

</script>
{% endblock %}

